@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100&family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-image: url("../img/paisagem.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header.container{
    width: 100vw;
    height: 140px;
    background-color: #153140;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.container .logo{
    font-size: 4.5rem;
    text-align: center;
    padding: 20px;
    font-family: 'Fira Sans', sans-serif;
}

header.container .menu{
    width: 25vw;
    margin-right: 5rem;
}

header.container .menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header.container .menu ul li a{
    padding: 10px;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: "Roboto";
    transition: 0.1s all ease-in-out;
}

header.container .menu ul li a:hover{
    border-bottom: 3px solid white;
}

/* MAIN */

main{
    width: 100vw;
}

main h1{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    text-align: center;
    padding: 50px;
    color: white;
} 
main section{
    width: 100%;
}
main .texto{
    font-size: 2rem;
    text-align: center;
    font-family: "Poppins";
}

/* HOME */

main .home{
    margin-top: 100px;
    height: 700px;
    background-color: rgba(16, 166, 148, 0.53);
}



main .home .texto{
    width: 40%;
    margin: 0 auto;
}

/* SERVIÇOS */

main .servicos{
    height: 700px;
    background-color: rgba(65, 94, 140, 0.61);
}

main .servicos .container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .servicos .container .servico{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #10A694;
    width: 250px;
    height: 310px;
    border-radius: 6px;
}

main .servicos .servico img{
    margin: 0 auto;
}

main .servicos .servico span{
    font-size: 2.4rem;
    font-family: "Poppins";
    text-align: center;
    width: 60%;
}

/* ESTUDOS */

main .estudos{
    height: 700px;
    background-color: rgba(14, 0, 70, 0.57);
}

main .estudos .container{
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .estudos .texto{
    width: 40%;
}

main .estudos .linguagens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}

main .estudos .linguagens img{
    width: 100px;
}

/* PROJETOS */

main .projetos{
    height: 700px;
    background-color: rgba(36, 5, 26, 0.85);
}

main .projetos .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .projetos .container img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    object-fit: cover;
    object-position: top;
}