
img/svg/cardapio.svg
img/svg/css.svg
img/svg/desktop.svg
img/svg/github.svg
img/svg/gmail.svg
img/svg/html.svg
img/svg/instagram.svg
img/svg/javascript.svg
img/svg/python.svg
img/svg/whatsapp.svg
img/svg/windows.svg
